{% extends "lab_4/layout/base.html" %} {% block content %}
<h1>Portofolio</h1>
<div>
<img src="https://vignette4.wikia.nocookie.net/shrek/images/d/d1/Puss_in_Boots_1.jpg/revision/latest?cb=20091230233249">
</div>
<hr/>
<section name="bio">
  <h2>Bio</h2>
  <p>
    {{content}}
  </p>
</section>
<hr/>
<section name="about_me">
  <h2>List</h2>
  <ul>
    {% for ii in about_me %}
    <li> {{ ii }} </li>
    {% endfor %}
  </ul>
</section>
<hr/>
<section name="form">
  <h2>Send Message</h2>
  <form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
    {% csrf_token %} {{ message_form }}
    <br>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</section>

{% endblock %}
